Source: haskell-streaming-commons
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Clint Adams <clint@debian.org>
Priority: optional
Section: haskell
Rules-Requires-Root: no
Build-Depends:
 cdbs,
 debhelper (>= 10),
 ghc (>= 8.4.3),
 ghc-prof,
 haskell-devscripts (>= 0.13),
 libghc-async-dev,
 libghc-async-prof,
 libghc-network-dev (>= 2.4.0.0),
 libghc-network-prof,
 libghc-quickcheck2-dev,
 libghc-random-dev,
 libghc-random-prof,
 libghc-zlib-dev,
 libghc-zlib-prof,
 libghc-quickcheck2-dev,
 libghc-quickcheck2-prof,
 libghc-hspec-dev (>= 1.8),
 libghc-hspec-prof,
Build-Depends-Indep: ghc-doc,
 libghc-async-doc,
 libghc-network-doc,
 libghc-random-doc,
 libghc-zlib-doc,
Standards-Version: 4.6.1
Homepage: https://github.com/fpco/streaming-commons
Vcs-Browser: https://salsa.debian.org/haskell-team/DHG_packages/tree/master/p/haskell-streaming-commons
Vcs-Git: https://salsa.debian.org/haskell-team/DHG_packages.git [p/haskell-streaming-commons]
X-Description: common lower-level functions for various streaming data libraries
 Provides low-dependency functionality commonly needed by various
 streaming data libraries, such as conduit and pipes.

Package: libghc-streaming-commons-dev
Architecture: any
Depends: ${haskell:Depends}, ${misc:Depends}, ${shlibs:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-streaming-commons-prof
Architecture: any
Depends: ${haskell:Depends}, ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-streaming-commons-doc
Architecture: all
Section: doc
Depends: ${haskell:Depends}, ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}
